<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestão dos Atos Normativos</title>
    <link rel="stylesheet" href="index.css">
    <style>
    </style>
  </head>
  <body>
    <header>
      <div>
        <h1>Acervo de Decretos</h1>
        <img
          id="brasao"
          src="https://i.pinimg.com/originals/66/05/4c/66054c3c52c37031e4c5cfb09c279aaf.png"
          alt="Brasão da Prefeitura"
        />
      </div>
      <nav>
        <a href="http://localhost:8080/decretos">Decretos</a>
        <a href="#">Leis</a>
        <a href="#">Portarias</a>
        <a href="#">Resoluções</a>
        <a href="#">Editais</a>
        <a href="#">Login do colaborador</a>
      </nav>
    </header>

    <form th:action="@{/decretos}" method="get">
      <select name="filtro" id="name">
        <option>Buscar decreto por</option>
        <option value="ano">Ano</option>
        <option value="numero">Número</option>
        <option value="ementa">Texto da ementa</option>
        <option value="etiqueta">Etiqueta</option>
        <option value="status">Status</option>
        <option value="palavras_chave">Palavras-chave</option>
      </select>
      <input type="text" name="termoPesquisa" placeholder="Digitar pesquisa" />

      <button type="submit">Pesquisar</button>
      <button type="submit">Limpar</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Ano</th>
          <th>Data</th>
          <th>Número</th>
          <th>Ementa</th>
          <th>Etiqueta</th>
          <th>Status</th>
          <th>Palavras-Chave</th>
          <th>PDF</th>
          <th>Word</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="decreto : ${decretos}">
          <td th:text="${decreto.ano}"></td>
          <td th:text="${#dates.format(decreto.data, 'dd/MM/yyyy')}"></td>
          <td th:text="${decreto.numero}"></td>
          <td th:text="${decreto.ementa}"></td>
          <td th:text="${decreto.etiqueta}"></td>
          <td th:text="${decreto.status}"></td>
          <td th:text="${decreto.palavrasChave}"></td>
          <td>
            <a th:href="${decreto.caminhoPDF}" target="_blank">Ver</a>
          </td>

          <td>
            <a href="${decreto.caminhoWord}" target="_blank">Ver</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
