body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
}

footer {
	text-align: right;
	color: rgb(118, 113, 113);
	padding: 5px 20px;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 999;
	font-size: 14px;
	width: auto;
}

#brasao {
	max-width: 120px;
	/* Ajuste conforme necessário */
	display: block;
	margin: 0 auto;
}

#brasao {
	max-width: 100px;
	/* Ajuste conforme necessário */
	display: block;
}

.opcao {
	width: 150px;
	height: 150px;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	transition: all 0.3s ease;
}

.opcao:hover {
	transform: scale(1.1);
}