<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestão dos Atos Normativos</title>
	<link rel="stylesheet" href="login_colaborador.css">
  </head>
  <body>
    <header>
      <h1>Acesso do Colaborador</h1>
      <h3>Prefeitura de Itamarandiba - MG</h3>
      <img
        id="brasao"
        src="https://i.pinimg.com/originals/66/05/4c/66054c3c52c37031e4c5cfb09c279aaf.png"
        alt="Brasão da Prefeitura"
      />
    </header>
    <form>
      <label for="setor">Setor:</label>
      <select id="setor" name="setor">
        <!-- Opções do select aqui -->
      </select>

      <label for="usuario">Usuário:</label>
      <input type="text" id="usuario" name="usuario" required />

      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" required />

      <button type="submit">Login</button>
    </form>
    <footer>© 2024 Desenvolvido por Andhy Leal</footer>
  </body>
</html>
