<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Gestão dos Atos Normativos</title>
	<link rel="stylesheet" href="home.css">
</head>

<body>
	<header>
		<h1>Gestão dos Atos Normativos</h1>
		<h3>Prefeitura de Itamarandiba - MG</h3>
		<img id="brasao" src="https://i.pinimg.com/originals/66/05/4c/66054c3c52c37031e4c5cfb09c279aaf.png"
			alt="Brasão da Prefeitura" />
	</header>

	<main>
		<div class="opcao">
			<a href="http://localhost:8080/decretos">Decretos</a>
		</div>
		<div class="opcao">Leis</div>
		<div class="opcao">Portarias</div>
		<div class="opcao">Resoluções</div>
		<div class="opcao">Editais</div>
	</main>
	<footer>© 2024 Desenvolvido por Andhy Leal</footer>
</body>

</html>